<p id="notice"><%= notice %></p>

<p>
  <%= @article.title %>
</p>

<p>
  <%= @article.content %>
</p>


<% if can_do_it? %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>

<%= link_to 'Back', articles_path %>
