<%= form_for(ad, url: url, html: { multipart: true, 'data-toggle': 'validator' }) do |f| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:category) %>
    <% if ad.category_dump.present? %>
      <div id="category_list">
        <%= ad.category_dump.html_safe %>
      </div>  
    <% else %>  
      <div id="category_list">
        <%= select_tag 'category_id', options_from_collection_for_select(@categories, "id", "name", ad.category_id || '0'), class: 'select_category', id: 'ad_category_id', required: true, size: "#{@categories.size + 1}", include_blank: t('select_category') %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label t(:price) %>
    <%= f.text_field :price, class: 'form-control', required: true, type: "number" %>
  </div>

  <div class="location">
    <div class="field">
      <%= f.label t(:city) %>
      <%= f.select :location_id, options_from_collection_for_select(@cities, 'id', 'name', current_user.location_id || '0'), { include_blank: t('select_city')}, class: 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= f.label t(:title) %>
    <%= f.text_field :title, class: 'form-control', required: true, minlength: "10"  %>
  </div>

  <div class="field">
    <%= f.label t(:content) %>
    <%= f.text_area :content, class: 'form-control', id: '', required: true  %>
  </div>

  <div class="field">
    <%= hidden_field_tag :uploaded_images, '', id: 'uploaded_images' %>
    <%= hidden_field_tag 'ad[category_id]', '', id: 'selected_category' %>
    <%= hidden_field_tag 'ad[category_dump]', '', id: 'category_dump' %>
  </div>

  <div class="actions">
    <%= f.submit t('save_ad'), class: 'btn btn-success' %>
  </div>

<% end %>

</br> 
<%= form_for(Photo.new, html: { multipart: true, class: 'dropzone'  }) do |f| %>
  <% @ad_images.each do |photo| %>
    <div class="profile-ad-images">
      <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
        <div class="dz-image">
          <%= image_tag(photo.image.url(:thumb)) %>
        </div>
      </div>
      <%= link_to t('remove_file'), "javascript:void(0)", class: 'dz-remove', id: "dz-remove-#{photo.id}", onclick: "removeImage(#{photo.id})" %>
    </div>  
  <% end %>    
<% end %>  

<%= render 'find_location/show'  %>