<div class="row">
  <div class="alert alert-success" role="alert">
    <h4 class="center_align">
      <%= t('my_ads') %>
    </h4>
  </div>
</div>

<div class="row">
 <%= @hello  %>
  <%= link_to t('new_ad'), new_profile_ad_path , class: 'btn btn-success' %>
  <%= link_to t('current_ads'), profile_ads_path , class: 'btn btn-success' %>
  <%= link_to t('expired_ads'), archive_profile_ads_path , class: 'btn btn-success'  %>
</div>

<% @ads.each do |ad| %>
<div class="row">
  <div class="bs-callout">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag(ad.photos.first&.image || 'default_ad_image.jpg', size: 100) %>
      </div>
      <div class="col-md-8">
        <h4><%= link_to ad.title, profile_ad_path(current_user.profile, ad) %></h4>
        <h4><%= "#{t('expire_day')}: #{l(ad.expire_day)}" %></h4>
        <h4><%= "#{t('price')}: #{ad.price}" %></h4> 
        <h4>
      </div>
      <div class="col-md-5">  
        <%= link_to t('edit'), edit_profile_ad_path(current_user.profile, ad) %>
        <%= link_to t('close_ad'), profile_ad_path(current_user.profile, ad, ad: { status: 0 }),
          method: :patch, data: { confirm: t('are_you_sure') } %>  
        <%= link_to t('destroy'), profile_ad_path(current_user.profile, ad),
          method: :delete, data: { confirm: t('are_you_sure') } %>        
      </div>    
    </div>
  </div>
</div>
<% end %>
<%= paginate @ads %>