<div class="dashboard-nav col-sm-3 col-md-2 sidebar">
  <div class="list-group">
    <a href="#" class="list-group-item  active">
      <%= t('dashboard')  %>
    </a>
    <%= link_to t('my_ads'), profile_ads_path(current_user.profile), class: "list-group-item" %>
    <a href="#" class="list-group-item"><%= t('my_masseges') %></a>
    <a href="#" class="list-group-item"><%= t('my_money') %></a>
    <%= link_to t('profile_config'), profile_path(current_user.profile), class: "list-group-item" %>
  </div>
</div>