<%= form_tag search_path, class: 'search_form' do %>
  <div class="input-group">
    <div class="input-group-btn">
      <%= select_tag :category_id, options_from_collection_for_select(@categories, 'id', 'name', Category.find_by(slug: params[:category_id])&.id), include_blank: t('any_category'), class: "btn btn-default" %>
    </div> 
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Поиск...' %>
    <div class="input-group-btn">
      <div class="location">
        <%= label_tag t(:city) %>
        <% if @location %>
          <%= select_tag :location_id, options_from_collection_for_select(@location, 'id', 'name', @location.first.id), include_blank: t('select_location'), class: "btn btn-default", id: 'ad_location_id' %>
        <% else %>
          <%= select_tag :location_id, options_from_collection_for_select(Location.roots, 'id', 'name', '1'), include_blank: t('select_location'), class: "btn btn-default", id: 'ad_location_id' %>
        <% end %>
      </div>
    </div> 
    <span class="input-group-btn">
      <%= submit_tag "Поиск", class: "btn btn-default" %>
    </span>   
  </div>
<% end %>

<%= render 'find_location/show' %>